<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Katuma</h1>

        <h2>Manage your collaborative consumption groups.</h2>
        <br/>
        <p>Join your friends and create new collaborative consumption groups.</p>
        <p>Discover others groups and boost your community.</p>
        <p>Manage group members throught waiting lists and committees.</p>
 		<p>Track down product informations, orders, payments and financial situation.</p>
    </div>
</div>
<div id="createAccount">
	<div class="container">
		<h1>Create account</h1>
		<form role="form">
			<div class="form-group">
				<label for="exampleInputEmail1">User name</label>
				<input type="text" class="form-control" id="exampleInputEmail1" placeholder="User name">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
			<button id="" type="submit" class="btn btn-primary signIn">Create Account</button>
		</form>
	</div>
</div>