<div class="jumbotron">

	<div class="container">
		<div class="row header">
			<h1 data-i18n="header.title">KATUMA</h1>
			
			<h2 class="slogan" data-i18n="header.slogan">Skip the middleman, buy directly from the providers.</h2>
		</div>
	</div><!--container-->

	<div class="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<p data-i18n="services.1">Easily create collaborative consumption groups.</p>
				</div>
				<div class="col-lg-4">
					<p data-i18n="services.2">Build a meaningful relationship with the providers.</p>
				</div>
				<div class="col-lg-4">
					<p data-i18n="services.3">An alternative marketplace for providers.</p>
				</div>
            </div>
          </div>
        </div>
    </div><!--.services-->

    <div class="container signin">
		<!-- Example row of columns -->
		<div class="row description">
			<div class="col-lg-12">
				<p data-i18n="[html]signin.description"><strong>KATUMA</strong> is a <strong>tool</strong> for <strong>collaborative consumption</strong> groups administrators, members and providers.</p>
			</div>
		</div>
		
		<div class="row register">
			<div class="col-lg-12">
				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
					<form action="http://katuma.us3.list-manage2.com/subscribe/post?u=c1fa2ee78d0632dc9cecbffab&amp;id=046995e05b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" role="form" target="_blank" novalidate>
						<div class="mc-field-group">

							<p data-i18n="[html]signin.question">
								Want to be the <strong>first to know</strong> when we realease the beta?</p>

							<div class="form-group">
								<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  				<div style="position: absolute; left: -5000px;"><input type="text" name="b_c1fa2ee78d0632dc9cecbffab_046995e05b" value=""></div>
								<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email" data-i18n="[placeholder]signin.placeholder">
							</div>

							<input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" data-i18n="[value]signin.submit">
						</div>

						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
            		</form>
				</div>
				<!-- End MailChimp Signup Form -->
			</div><!--end col-->
		</div><!--end row register-->
	</div>

	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<p>
						<a href="https://github.com/coopdevs">
							<i class="fa fa-github"></i> <span data-i18n="footer.github">KATUMA is open source</span>
						</a>
					</p>

				</div>

				<div class="col-lg-4">
					<p>
						<a href="https://twitter.com/katuma_org">
							<i class="fa fa-twitter"></i> <span data-i18n="footer.twitter">Follow us on twitter</span>
						</a>
					</p>
				</div>
				<div class="col-lg-4">
					<p>
						<a href="mailto:info@katuma.org">
							<i class="fa fa-envelope"></i> <span data-i18n="footer.contact">Contact us</span>
						</a>
					</p>
				</div>
			</div>
		</div><!-- /container -->
		<p id="languages">
			<a href="#" language="en">English</a> | <a href="#" language="ca">Catalan</a>  | <a href="#" language="es">Español</a>
		</p>
	</div><!--footer-->